# Outputs
outputs/
data/model_news/
results_news/
data/news/cache_gdelt/articles/
data/news/cache_gdelt/failures/
*.png
*.pdf
*.zip

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db


data/nascdi_news/news_scored.csv
data/news/raw_gdelt_news/
data/news/cache_gdelt/
data.zip
*.7z
